@model IEnumerable<Movies.ViewModels.TicketViewModel>
@{
    ViewData["Title"] = "Cart";
    int total = 0;
    bool isempty = Model.Count() == 0 ? true : false;
}

<h1>Cart</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Date and time
            </th>
            <th>
                Row and Seat
            </th>
            <th>
                Hall
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            total += item.Price;
            <tr>
                <td>
                    <a href="/Movies/Details/@item.MovieId">@item.Movie</a>
                </td>
                <td>
                    @item.SessionTime
                </td>
                <td>
                    @item.Seat
                </td>
                <td>
                    @item.Hall
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<p>Total: @total</p>
<a @(isempty ? "" : "href=/Purchases/Create")><button class="btn-primary btn" @(isempty ? "disabled" : "")>Buy All</button></a>

