@model Movies.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Movie Details";
}

<h1>@Model.Title</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />
<br />
<div>
    <h4>Availible sessions:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Time and Date
                </th>
                <th>
                    Hall
                </th>
                <th>
                    Price
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Sessions)
            {
                <tr class="@(item.TimeDate < DateTime.Now? "unav_session" : "" )">
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeDate)
                    </td>
                    <td>
                        @item.Hall
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a href="@(item.TimeDate < DateTime.Now ? "" : $"/Tickets/Create/{item.Id}")">
                            <button @(item.TimeDate < DateTime.Now ? "disabled" : "")>Pick a seat</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
